
<div class="home-container">

    <h1 class="top-home">Movie Log<hr class="title-hr"></h1>

    <div class="now-playing-container">
        <h2 class="home-section-heading">Now playing<hr class="section-hr"></h2>
        <section class="now-playing-api-movie-data"></section>
    </div>
    <div class="upcoming-container">
        <h2 class="home-section-heading">Upcoming<hr class="section-hr"></h2>
        <section class="upcoming-movie-data"></section>
    </div>
    <div class="trending-container">
        <h2 class="home-section-heading">Trending<hr class="section-hr"></h2>
        <section class="trending-movie-data"></section>
    </div>

    <div class="background"></div>
</div>

