
<div class="home-container">

    <h1 class="top-home">Movie Log</h1>
    <div class="now-playing-container">
        <h2 class="home-section-heading">Now playing</h2>
        <section class="now-playing-api-movie-data"></section>
    </div>
    <div class="upcoming-container">
        <h2 class="home-section-heading">Upcoming</h2>
        <section class="upcoming-movie-data"></section>
    </div>
    <div class="trending-container">
        <h2 class="home-section-heading">Trending</h2>
        <section class="trending-movie-data"></section>
    </div>

</div>

