<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <nav class="nav-bar">
    <ul>
        <a href="/private/home">Home</a>
        <a href="/private/search">Search</a>
        <a href="/private/profile">Profile</a>
        <a href="/private/movieList">Lists</a>
    </ul>
</nav>
  </body>
</html>
