<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <nav class="nav-bar">
    <ul>
        <a href="/private/home">Home</a>
        <a href="/private/search">Search</a>
        <a href="/private/profile">Profile</a>
    </ul>
</nav>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/api.js"></script>
  </body>
</html>
