<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="//db.onlinewebfonts.com/c/a739af61caedee177335ac8397fba9e2?family=Klarissa" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    {{{body}}}

    <nav class="navbar">
    <ul>
        <a class= 'back-arrow-icon' href="/public/login"><img src="/images/thin-back-icon.png" alt="back-button"></a>
        <a href="/private/search">Search</a>
        <a href="/private/profile">Profile</a>
    </ul>
</nav>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/api.js"></script>
  </body>
</html>
