<div class='login-page'>

  <div class='login-page-wrapper'>
    <section class='top-sign-in'>
      <h1 class="movie-log-header">Movie Log</h1>
      <img class='logo' src="/images/logo.png" alt="logo">
    </section>
    <h1 class='login-header'>Movie Log</h1>

    <form class='login-form-wrapper' action='/auth/login' method='POST'>
      <div class='login-form-section-wrapper'>
        <label class='form-label' for=''>Username</label>
        <input type='text' name='username'>
      </div>

      <div class='login-form-section-wrapper'>
        <label class='form-label' for=''>Password</label>
        <input class='password-input-style' type='password' name='password'>
      </div>

      <button class='login-button' type='submit'>Login</button>

      <p class="account-message">
        Don't have an account? <button class="log"><a class="sign-up-now-text" href="/public/signup">Sign up
            now!</a></button>
      </p>
    </form>

  </div>
</div>

{{!-- error message display --}}

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}