
<img src="https://images-na.ssl-images-amazon.com/images/I/71rNJQ2g-EL._SY606_.jpg" alt="">
<h2>Moonlight</h2>
<h5>2018</h5>

<div class="movie-info">
<span>Drama</span>
<span>2h 17min</span>
<span>rating 8.9</span>
</div>

<div class="movie-plot">
    <span>Plot</span>  <br>
<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla animi sapiente odit quidem. Reiciendis, libero doloribus a repellat veritatis, consectetur amet enim dolorem nemo quasi numquam molestiae exercitationem eaque obcaecati?</span>

</div>

<div class="cast-info">
<span>Director</span>
<span>Writer</span>
<span>Actors</span>
</div>

<div class="movie-detail-buttons">
<button>Add to Seen</button>
<button>Add to Want to Watch</button>

</div>
