<section class="header">

<div class="profile-pic">

<img src="https://www.skylightsearch.co.uk/wp-content/uploads/2017/01/Hadie-profile-pic-circle-1.png" alt="profile-pic">


</div>

<div class="bio">
<h2>{{user.username}}</h2>
<a href="/private/settings">Settings</a>

{{!-- {{#if }}

{{/if}} --}}



<p>
    6891 minutes total watch time
</p>

<p>
    {{user.quote}}
</p>

{{#each moviesToSee}}
    {{this.data.title}}
{{/each}}

{{#each seenMovies}}
    {{this.data.title}}
{{/each}}



</div>

</section>

<section class="main">

<div class="list">
    <h2>Lists</h2>



</div>

</section>