<div id='get-movie-section'>
​
        {{!-- <h2 id="update-char">GET - Character by id </h2>
        <p>Which character you would like to update? Input its id:</p> --}}
​
        {{!-- <form id="get-movie-form">
                <input type="text" name="" id="movie-name" placeholder="Movie name"> <br>
                <button type="submit" id="get">Search</button>

        </form>


        <div class="movie-results"></div>

        <form action="" method="get"></form> --}}


        <div class="container">
                <form id="get-movie-form">
                        <input id="movie-name" class="searchbar" type="text" placeholder="Search for a movie...">
                        <button type="submit" id="get" class="btn-search"><img class="fa fa-search" src="/images/grey-search-icon.png"></img></button>
                </form>
        </div>

        <div class="movie-results"></div>

        <form action="" method="get"></form>


​
</div>
​
