<div class="settings-page-wrapper">

    <nav class="desktopNavSettings">
        <h3 class="navHeader">Movie Log</h3>
        <ul>
            <a class="desktopNavLink" href="/private/home">Home</a>
            <a class="desktopNavLink" href="/private/search">Search</a>
            <a class="desktopNavLink" href="/private/profile">Profile</a>
        </ul>
    </nav>

    <div class="settingsWrapHeader">
        <h1>Settings</h1>
    </div>

    <div class="settingsWrapperWithoutHeader">
        <form class="settingsForm" action='/private/settings' method='POST'>
            <div class='settings-form-section-wrapper'>
                <label class='form-label' for=''>Name</label>
                <input class="input-style-settings" value='{{user.username}}' type='text' name='username'>
            </div>

            <div class='settings-form-section-wrapper'>
                <label class='form-label' for=''>Email</label>
                <input class="input-style-settings" value='{{user.email}}' type='text' name='email'>
            </div>

            <div class='settings-form-section-wrapper'>
                <label class='form-label' for=''>Quote</label>
                <input value='{{user.quote}}' class='input-style-settings' type='text' name='quote'>
            </div>

            <button class='settings-button' type='submit'>Edit profile</button>
        </form>
        <a href="/auth/logout">
            <button class='settings-button'>Logout now</button>
        </a>
    </div>

    <div class="background"></div>
</div>