        @import url(https://fonts.googleapis.com/css?family=Open+Sans);
        /* css reset */
        
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        body {
            line-height: 1;
            padding: 25px 25px;
            background: #f2f2f2;
            font-family: 'Open Sans', sans-serif;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /*///////////////////////////
 ///// END OF CSS RESET //////
///////////////////////////*/
        
        .header {
            display: flex;
        }
        
        h2 {
            font-size: 30px;
        }
        
        .profile-pic img {
            width: 200px;
            height: auto;
        }
        
        .bio {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 0 20px 0;
        }
        
        .main {
            padding: 50px 0 0 0;
        }
        
        .section {
            padding: 0 0 30px 0;
        }
        
        .list img {
            width: 250px;
            padding: 10px;
        }
        
        .movie-info {
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
        }
        
        .movie-info span {
            padding-right: 10px;
        }
        
        .movie-plot {
            padding-bottom: 10px;
        }
        
        .cast-info {
            display: flex;
            flex-direction: column;
        }
        
        .search {
            width: 100%;
            position: relative;
            display: flex;
        }
        
        .searchTerm {
            width: 100%;
            border: 3px solid #00B4CC;
            border-right: none;
            padding: 5px;
            height: 20px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #9DBFAF;
        }
        
        .searchTerm:focus {
            color: #00B4CC;
        }
        
        .searchButton {
            width: 40px;
            height: 36px;
            border: 1px solid #00B4CC;
            background: #00B4CC;
            text-align: center;
            color: #fff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            font-size: 20px;
        }
        /*Resize the wrap to see the search bar change!*/
        
        .wrap {
            width: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
    .header {
        display: flex;
    }
    
    h2 {
        font-size: 30px;
    }
    
    .profile-pic img {
        width: 200px;
        height: auto;
    }
    
    .bio {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0 20px 0;
    }
    
    .main {
        padding: 50px 0 0 0;
    }
    
    .section {
        padding: 0 0 30px 0;
    }
    
    .list img {
        width: 250px;
        padding: 10px;
    }
    
    .movie-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .movie-info span {
        padding-right: 10px;
    }
    
    .movie-plot {
        padding-bottom: 10px;
    }
    
    .cast-info {
        display: flex;
        flex-direction: column;
    }
    
    .search {
        width: 100%;
        position: relative;
        display: flex;
    }
    
    .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }
    
    .searchTerm:focus {
        color: #00B4CC;
    }
    
    .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }
    /*Resize the wrap to see the search bar change!*/
    
    .wrap {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	}

	.cast-info span {
            padding-bottom: 10px;
        }