<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="//db.onlinewebfonts.com/c/a739af61caedee177335ac8397fba9e2?family=Klarissa" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <nav class="desktopNav">
    <h3 class="navHeader">Movie Log</h3>
    <ul>
      <a class="desktopNavLink" href="/private/home">Home</a>
      <a class="desktopNavLink" href="/private/search">Search</a>
      <a class="desktopNavLink" href="/private/profile">Profile</a>
    </ul>
  </nav>

  <section class="handlebar-text-center">
    {{{body}}}
  </section>

  <nav class="navbar">
    <ul>
      <a class='home-icon' href="/private/search"><img src="/images/grey-search-icon.png" alt="search-button"></a>
      <a class='home-icon' href="/private/home"><img src="/images/yellow-home-icon.png" alt="home-button"></a>
      <a class='home-icon' href="/private/profile"><img src="/images/grey-profile-icon.png" alt="profile-button"></a>
    </ul>
  </nav>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/javascripts/api.js"></script>
  <script type="text/javascript" src="/javascripts/api_homescreen.js"></script>
</body>

</html>